* {
  box-sizing: border-box;
}

body {
  width: 85%;
  margin: auto;
  position: relative;
  font-family: Heebo;
}

#topnav {
  padding: 40px 0px 40px 40px;
  position: fixed;
  top: 0;
  text-align: right;
  width: 85%;
  background-color: white;
}

#topnav a {
  margin-right: 30px;
  font-size: 14px;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

#topnav a:hover {
  border-top: 3px solid #A5C54D;
  padding-top: 10px;
}

#topnav a:first-child {
  border-bottom: 3px solid #A5C54D;
}

#topnav a:last-child {
  margin-right: 0px;
}

#rightnav {
  position: fixed;
  top: 30%;
  right: 1rem;
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

#rightnav ul li a {
  border-radius: 100px;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  margin: 1.5rem;
  text-decoration: none;
  display: inline-block;
}

#rightnav a:hover {
  background: linear-gradient(90deg, #A3D463 0%, #7AD463 100%);
}

#rightnav a:active {
  background: linear-gradient(90deg, #A3D463 0%, #7AD463 100%);

}

.page {
  height: 100vh;
}

#page1 {
  margin-left: 50px;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#badplastic {
  background: -webkit-linear-gradient(#A3D463, #7AD463);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  height: 5px;
  background: linear-gradient(90deg, #A3D463 0%, #7AD463 100%);;
  border: none;
}

#titleAndP {
  width: 574px;
}

#imgdiv {
  margin-top: 100px;
  margin-left: 200px;
}

#page2 {
  width: 90%;
  font-size: 20px;
  line-height: 70px;
}

p {
  line-height: 35px;
  font-size: 17px;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;

}

footer p {
  font-size: 12px;
  letter-spacing: 1px;
}
