body {
  margin: auto;
  font-family: Helvetica;
  background-color: #e5edf1;
  color: #363636;
  text-align: center;
}

h1 {
  font-size: 22px;
  background-color: #d6daef;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  letter-spacing: 0.5px;
}

h3 {
  padding: 10px;
  letter-spacing: 0.5px;
}

section {
  margin: auto;
  margin-top: 5%;
  width: 70%;
  background-color: #f2f6f8;
  border: 2px solid #d6daef;
  padding: 5px;
}

div {
  padding: 20px;
  padding-top: 0px;
}

div p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: left;
  padding: 25px 28px 0px 28px;
}

#sketchesP p {
  padding: 0px 28px 0px 28px;
  text-decoration: underline;
}

ul {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #363636;
}

a:hover {
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px grey;
}

footer {
  margin: auto;
  text-align: center;
}
